<div class="card mx-auto" style="width: 80%; border:none; margin-top:5%">
  <div class="row mb-3">
    <select class="form-select" aria-label="Default select example">
      <option selected>類別</option>
      <option value="1">食</option>
      <option value="2">衣</option>
      <option value="3">住</option>
      <option value="4">行</option>
      <option value="5">育</option>
      <option value="6">樂</option>
    </select>
  </div>
  <div class="mb-3">
    <span>總花費:</span>
    <span class="fs-3 fw-bolder text-danger">$12345</span>
  </div>
  <div class="mb-3">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">類別</th>
          <th scope="col">名稱</th>
          <th scope="col">日期</th>
          <th scope="col">金額</th>
          <th scope="col">編輯</th>
          <th scope="col">刪除</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><i class="fa-solid fa-house"></i></td>
          <td>午餐</td>
          <td>2024-12-10</td>
          <td>100</td>
          <td><a href=""><i class="fa-solid fa-pen-to-square"></i></a></td>
          <td>
            <form action="/" method="POST" style="display: inline;">
              <button type="submit" style="color:rgb(234, 2, 2); border:none;">
                <i class="fa-solid fa-trash-can"></i>
              </button>
            </form>
          </td>
        </tr>
        <tr>
          <td><i class="fa-solid fa-van-shuttle"></i></td>
          <td>午餐</td>
          <td>2024-12-10</td>
          <td>100</td>
          <td><a href=""><i class="fa-solid fa-pen-to-square"></i></a></td>
          <td>
            <form action="/" method="POST" style="display: inline;">
              <button type="submit" style="color:rgb(234, 2, 2); border:none;">
                <i class="fa-solid fa-trash-can"></i>
              </button>
            </form>
          </td>
        </tr>
        <tr>
          <td><i class="fa-solid fa-face-laugh-beam"></i></td>
          <td>午餐</td>
          <td>2024-12-10</td>
          <td>100</td>
          <td><a href=""><i class="fa-solid fa-pen-to-square"></i></a></td>
          <td>
            <form action="/" method="POST" style="display: inline;">
              <button type="submit" style="color:rgb(234, 2, 2); border:none;">
                <i class="fa-solid fa-trash-can"></i>
              </button>
            </form>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="d-flex justify-content-center">
    <a class="btn btn-warning" href="#" role="button">新增支出</a>
  </div>
</div>