<div class="d-flex border">
  <div class="login d-flex flex-column align-items-center" style="width:70%">
    <div class="p-5" style="width: 80%;">
      <h1 class="text-center mb-4">Account Login</h1>
 {{> message}}
      <form action="/users/login" method="post">
        <div class="mb-3">
          <label for="Email" class="form-label">Email</label>
          <input
            type="email"
            class="form-control"
            id="Email"
            placeholder="Email"
            name="email"
            value="{{email}}"
          />
        </div>
        <div class="mb-3">
          <label for="Password" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="Password"
            placeholder="Password"
            name="password"
          />
        </div>
        <div class="mb-3">
           <input class="form-check-input me-1" type="checkbox" id="rememberMe" name="rememberMe" {{#if rememberMe}}checked{{/if}}>
          <label for="rememberMe">Remember Me</label>
        </div>
        <div class="d-flex justify-content-center my-4 flex-column">
          <button type="submit" class="btn btn-primary mb-2">Log In</button>
          <div class="mt-3 SSO d-flex justify-content-evenly">
            <a href="/auth/facebook"><img
                src="https://cdn2.iconfinder.com/data/icons/social-media-2285/512/1_Facebook_colored_svg_copy-256.png"
                alt="facebook"
              /></a>
            <a href="/auth/google"><img
                src="https://cdn2.iconfinder.com/data/icons/social-media-free-20/32/google_search_online_social_media-2-256.png"
                alt="google"
              /></a>
            <a href="/auth/github"><img
                src="https://cdn4.iconfinder.com/data/icons/miu-black-social-2/60/github-256.png"
                alt="github"
              /></a>

          </div>
        </div>
      </form>
    </div>
  </div>
  <div id="login-no-account">
    <div class="login-new-content">
      <h5>New Here?</h5>
      <p>Sign up and build your own expense tracker!</p>
      <a href="/users/register" class="mt-5 btn btn-outline-info">Sign Up</a>
    </div>
  </div>
</div>